@page "/Cnn"
@inject HttpClient Http

<style>
    .row {
        margin-bottom: 10%;
    }

    h1 {
        text-align: center;
        margin-bottom: 5%;
    }

    #newsTitle {
        font-size: 30px;
    }

    #spacing {
        margin-bottom: 10%;
    }
</style>
<link href="../wwwroot/css/news.css" rel="stylesheet">
<h1>CNN</h1>

@if (news == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @foreach (var rootdata in news.articles.ToList())
    {
        <div class="row">
            <div class="col-2"></div>

            <div class="col-8">

                <p id="newsTitle">@rootdata.title</p>
                <p>@rootdata.description</p>
                <p id="newsAuthor"><small>Written by @rootdata.author</small></p>
                <img class="img-fluid" src="@rootdata.urlToImage" alt="No Image Found" />
                <p><small>Published At: @rootdata.publishedAt</small></p>
                <p>@rootdata.content <a target="_blank" href="@rootdata.url">Go To Source</a></p>

            </div>

            <div class="col-2"></div>
        </div>
    }
}

@code {

    private Response news;

    public async Task Find()
    {
        System.Text.Json.JsonSerializerOptions options = new System.Text.Json.JsonSerializerOptions() { IgnoreNullValues = true };

        news = await Http.GetFromJsonAsync<Response>("https://newsapi.org/v2/top-headlines?sources=cnn&apiKey=a15cbcc05e814709a1749fbec881c2c2", options);
    }

    protected override async Task OnInitializedAsync()
    {
        await Find();
    }

    public class Response
    {
        public string status { get; set; }
        public int totalResults { get; set; }
        public IEnumerable<Root> articles { get; set; }
    }

    public class Source
    {
        public string id { get; set; }
        public string name { get; set; }
    }

    public class Root
    {
        public Source source { get; set; }
        public string author { get; set; }
        public string title { get; set; }
        public string description { get; set; }
        public string url { get; set; }
        public string urlToImage { get; set; }
        public DateTime publishedAt { get; set; }
        public string content { get; set; }
    }
}